@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
$red:     #E71626;
$orange:  #FA9B51;
$primary: $orange;
$secondary: $red;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.5;
$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 3.3;
$h3-font-size: $font-size-base * 2.8;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.2;
$font-family:  "Open Sans", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Lato", "Helvetica Neue";
@import "../../node_modules/bootstrap/scss/bootstrap";
