@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
.gavel {
    background-image: url('/icons/gavel.svg');
    background-size: contain; // or 'contain' based on your preference
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
}
.bidder {
    background-image: url('/icons/bidders.svg');
    background-size: contain; // or 'contain' based on your preference
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.btn.category {
    border-radius: 1.2rem;
    font-size: 1rem;
}


.btn.register:hover {
    background-color: white;
    color: black;
}
.main.container {
    max-width: 1100px;
}
@media (max-width: 768px) {
    .categories-desktop {
    display: none;
  }
  .btn.category {
    height: 100px;
    width: 100px;
  }
  .register-desktop {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .register-mobile {
    border-radius: 2rem;
  }
}
@media (min-width: 768px) {
    .categories-mobile {
    display: none;
  }
  .register-mobile {
    display: none;
  }.btn.register-desktop {
    height: 4rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 1rem;
    border-radius: 20rem;
    text-transform: uppercase;
    font-weight: bold;
}
}