@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
.gavel {
    background-image: url('/icons/gavel.svg');
    background-size: contain; // or 'contain' based on your preference
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
}
.bidder-mobile, .bidder-desktop {
    background-image: url('/icons/bidders.svg');
    background-size: contain; // or 'contain' based on your preference
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
}
.homepage {
  background-image: url(/images/Background\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn.category {
    border-radius: 1.2rem;
    font-size: 1rem;
}


.btn.register:hover {
    background-color: white;
    color: black;
}
.main.container {
    max-width: 1100px;
}

.header {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8rem;
}

@media (min-width: 1024px) {
  .btn.register-desktop {
    height: 4rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 1rem;
    border-radius: 20rem;
    text-transform: uppercase;
    font-weight: bold;
}
  .register-mobile, .categories-mobile, .bidder-mobile {
    display: none;


}}
@media (max-width: 1024px) {
    .categories-desktop, .register-desktop, .bidder-desktop {
    display: none;
  }
  .btn.category {
    height: 100px;
    width: 100px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .register-mobile {
    border-radius: 2rem;
  }

}
